/*MACBOOK SCREEN SIZE*/
@media only screen and (min-width:900px) and (max-width: 2448px)
{
  body{
    background-color:floralwhite;
    display:flex;
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
  }
  .story{
    display:flex;
    flex-direction: column;
    padding-left:auto;
    padding-right:auto;
    max-width:100%;
  }
  .home{
      text-decoration: none; /* Remove the underline */
}
#adams_event, .charts, .map {
  display:flex;
  max-width:100%;
  max-height:auto;
  opacity: 0;
  transition: opacity 2s;
}  
  .hed, .dek, .byline, .photo_credits {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center; /* Horizontally center the content */
    justify-content: center; /* Vertically center the content */
}
h1{
font-size:20pt;
}
.lede_storygrafs{
  padding-left: 250px;
  padding-right:250px;
  max-width: 100%;
  display:flex;
  flex-direction: column;
}
.charts{
  display:flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 250px;
  padding-right:250px;
}
  .chart_1{
  display:flex;
  flex-direction: column;
  }
  .chart_2{
  display:flex;
  flex-direction: column;
  }
 .map{
  padding-left: 250px;
  padding-right: 250px;
  max-width:100%;
}
}

/*27-INCH 2K MONITOR SCREEN SIZE*/
@media only screen and (min-width: 2449px) and (max-width: 2560px) {
  body {
      background-color: floralwhite;
      font-family: 'poppins', sans-serif;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-content:center;
      justify-content: center;
      flex-wrap:wrap;
  }
  .hed, .dek, .byline, .photo_credits {
      display: flex;
      flex-direction: column;
      max-width: 100%;
      align-items: center; /* Horizontally center the content */
      justify-content: center; /* Vertically center the content */
  }
  h1 {
      font-size: 20pt;
  }
  .lede_storygrafs {
      padding-left: 350px;
      padding-right: 350px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
  }
  .charts{
    display:flex;
    flex-direction: column;
    max-width: 100%;
    padding-left: 350px;
    padding-right:350px;
  }
  .map{
    display:flex;
    flex-direction: column;
    padding-left: 350px;
    padding-right: 350px;
    max-width:100%;
  }
}
/*IPHONE 13 PRO TO IPHONE 14 PRO MAX SCREEN WIDTH*/
/*IPHONE COMPATIBILITY*/
@media screen and (max-width: 432px) and (min-width: 293px)
 {
  /* Your existing styles... */

  body{
    background-color:floralwhite;
    font-family: 'poppins', sans-serif;
    align-items: center;
    margin: 0 auto;
    max-width:100%;
    height:auto;
  }
  
  .hed, .dek, .byline, .photo_credits {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center; /* Horizontally center the content */
    justify-content: center; /* Vertically center the content */
    margin: 0 auto;
  }
  .images, .photo_credits, .byline {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center the content */
    justify-content: center; /* Vertically center the content */
    margin: 0 auto; /* Horizontally center the image */
    text-align: center; /* Center the text */
    max-width: 100%; /* Make the image responsive */
    height: auto; /* Maintain the aspect ratio */
    margin: 0 auto;
  }
  .hed_dek{
  
    display:flex;
    flex-direction: column;
    max-width:100%;
    justify-content: center;
    align-items: center;
}
  .hed{
    font-size: 10pt;
    text-align:center;
    display:flex;
    flex-direction: column;
    max-width:100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .dek{
    text-align:center;
    display:flex;
    flex-direction: column;
    max-width:100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}     
.images{
  max-width:100%;
}
  .lede_storygrafs{
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    max-width:100%; 
    justify-content: center;
    align-content: center;
}
.charts{
  display:flex;
  flex-direction: column;
  max-width:100%;
  margin: 0 auto;
  height:auto;
  padding:auto;
}
.map{
  padding-left: auto;
  padding-right:auto;
  display:flex;
  flex-direction: column;
}
  .images{
    display:flex;
    max-width:100%;
    max-height:auto;
}    
    img{
      max-width:100%;
      height:auto;
      margin-left:auto;
      margin-right:auto;
      border:outset
}
    .github_button, .resume_button, .about_button {
     display:none;
}
}  

  /* UNIVERSAL STYLES */
  body {
    font-family: 'Nunito Sans', sans-serif;
    padding-top: 10px; /* Adjust based on the height of your header */
}
    .header{
      display:flex;
      flex-direction:row;
      justify-content:center;
      align-content:baseline;
      padding: 20px;
      margin: 0 auto;  
  } 
  .home_button, .rodent_story_button, .github_button, .resume_button, .about_button {
    padding: 10px 20px; /* Add some padding */
    background-color: floralwhite; /* Add a background color */
    border: 0.75px solid orangered; /* Add a border */
    border-radius: 25px; /* Make the buttons rounded */
    color: black; /* Change the text color */
    text-decoration: none; /* Remove the underline */
    margin: 0px 10px; /* Add some spacing between the buttons */
    transition: background-color 0.3s ease; /* Prepare for the hover effect */
    padding: 20px;
    border-radius:30px;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5); /* Add shadow to the border */
}

.home_button:hover, .rodent_story_button:hover, .github_button:hover, .resume_button:hover, .about_button:hover {
  background-color: #e7e9eb; /* Change the background color on hover */
  color: #ff6347; /* Change the text color on hover */
  transform: scale(1.1); /* Add a scale effect to the buttons */
}
/* Define the bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}
/* Apply the bounce animation on hover */
.home_button:hover, .rodent_story_button:hover, .github_button:hover, .resume_button:hover, .about_button:hover {
  animation: bounce 1s infinite;
}
.images{
  display:flex;
  max-width:100%;
  max-height:auto;
} 
