.story{
justify-content:center;
align:center;
text-align:center;
background-color:floralwhite;
display:flex;
flex-direction: column;
font-family: 'Poppins', sans-serif;
padding:25px;
margin-top:-25px;
margin-left:-25px;
margin-right:-25px;
margin-bottom:-25px;
}

h1{
font-size: 25px;
margin-left:auto;
margin-right:auto;
align:center;
width: auto;
height: auto; 
}

.hed_dek{

  display:flex;
  flex-direction:column;
  justify-content: center;

}

.hed {
border-style:outset;
border-radius:15px;
}

.dek{
align:center;
font-size:16px;
font-style:italic;

}

.byline{
font-size: 13px;
text-align:center;
margin-left:auto;
margin-right:auto;
width: auto;
weight: auto;
font-style:italic;
}

.photo_credits{
font-style:italic;
display:flex;
text-align:center;
flex-basis: auto;
font-size:14px;
padding:5px;
justify-content:center;
}

.chart{
display:flex;
justify-content: center;
max-width:100%;
}


.images{
display:flex;
max-width:100%;
max-height:auto;
}

img{
  max-width:50%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
}

