.story {
background-color:floralwhite;
display:flex;
flex-direction: column;
font-family: 'Poppins', sans-serif;
padding:25px;
margin-top:-25px;
margin-left:-25px;
margin-right:-25px;
margin-bottom:-25px;

}

h1{
text-align:center;
font-size: 40px;
font-size: 25px;
margin-left:auto;
margin-right:auto;
align:center;
width: auto;
height: auto; 
}

.hed_dek{
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content: center;

}

/*REMOVED THIS BECAUSE BORDER MADE IT FEEL TOO MUCH LIKE 2006 :'(

.hed {
border-style:outset;
border-radius:15px;
}

*/

.dek{
align:center;
font-size:16px;
font-style:italic;
}

.lede_storygrafs{
  margin-left:300px;
  margin-right:300px;
}

.byline{
font-size: 13px;
text-align:center;
margin-left:auto;
margin-right:auto;
width: auto;
weight: auto;
font-style:italic;
}

.photo_credits{
font-style:italic;
display:flex;
text-align:center;
/*flex-basis: auto;*/
font-size:14px;
padding:5px;
justify-content:center;
}

/*.charts{
  display:flex;
  align-items:flex-start;
  flex-direction:row;
  justify-content:start;

}
*/
.chart_1{
display:flex;
flex-direction: column;
justify-content: center;
margin-left:250px;
margin-right:250px;
}

.chart_2{
display:flex;
flex-direction: column;
justify-content: center;
margin-left:250px;
margin-right:250px;
}

.graf_1{
  margin-left:250px;
  margin-right:250px;
}



.map{
display:flex;
justify-content: center;
max-width:100%;
}


.images{
display:flex;
max-width:100%;
max-height:auto;
}

img{
  max-width:100%;
  height:auto;
  margin-left:auto;
  margin-right:auto;
}




/*MEDIA QUEIRIES BELOW*/


/*IPHONE SCREEN WIDTH*/
@media only screen and (max-width: 590px)
{
 .story{
  margin-left: auto;
  margin-right:auto;
}

.hed{
font-size: 16px;
border-style:inset;
border-radius:15px;
display:flex;
flex-direction: row;
}

  .graf_1{
  margin-left: auto;
  margin-right:auto;
 }
 .lede_storygrafs{
  margin-left: auto;
  margin-right:auto;
 }
.map{
  margin-left: auto;
  margin-right:auto;
}
.chart_1{
  margin-left: auto;
  margin-right:auto;
}
.chart_2{
  margin-left: auto;
  margin-right:auto;
}

.images{
max-height:100%;
}

}

/*IPHONE SCREEN HEIGHT*/
@media only screen and (max-height: 844px)
{ 
  .story{
  margin-left: auto;
  margin-right:auto;
}

  .map{
  margin-left: auto;
  margin-right:auto;
}
  .graf_1{
  margin-left: auto;
  margin-right:auto;
}
.lede_storygrafs{
  margin-left: auto;
  margin-right:auto;
  font-size:35;
}
  .chart_1{
  margin-left: auto;
  margin-right:auto;
  .chart_2{
  margin-left: auto;
  margin-right:auto;
}
}

}


/*MACBOOK SCREEN SIZE*/
@media only screen and (min-width: 900px)
{

 .graf_1{
  margin-left: 300px;
  margin-right:300px;
}
.images{
  max-width:100%;
}

h1{
font-size:25pt;
}
.lede_storygrafs{
  margin-left: 300px;
  margin-right:300px;
}

.dek{
  margin-left: 400px;
  margin-right:400px;

}
  .chart_1{
  margin-left: 300px;
  margin-right:300px;
  max-width:50%;
}

 .chart_2{
  margin-left: 300px;
  margin-right:300px;
  max-width:50%;
}

 .map{
  margin-left: 300px;
  margin-right: 300px;
  max-width:100%;
}


}

