body {
  background-color: floralwhite;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.nunito-sans{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.project_title {
  text-align: center;
  border-bottom: 3px solid darkred;
  color: darkred;
  padding-bottom: 15px;
  
}

.dashboard-grid h1 {
  text-align: center;
  border-bottom: 3px solid darkred;
  color: darkred;
  padding-bottom: 15px;
  
}

h1{
  text-align: center;
  /* border-bottom: 3px solid darkred; */
  color: darkred;
  padding-bottom: 15px;
}

h2{
  color:darkred;
}

.hidden {
  display: none;
}

h2,
h3 {
  text-align: center;
  margin-top: 20px;
}

section {
  margin-bottom: 20px;
}

#filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-container {
  margin-right: 20px;
}

label {
  font-weight: bold;
}

.select {
  padding: 5px;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  


.card {
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  border-top: solid 7.5px darkred;
  border-bottom: solid 0.5px darkred;
  border-radius: 15px;
  padding: 20px;
}

.card h2,

.card h3,
.card p {
  margin: 5px 0;
}

.item {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.item h2,
.item h3,
.item p {
  margin: 5px;
}

.item:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.item[borough="Manhattan"],
.item[borough="Brooklyn"],
.item[borough="Bronx"],
.item[borough="Queens"],
.item[borough="Staten Island"],
.item[restaurant="SUBWAY"],
.item[restaurant="DUNKIN DONUTS"],
.item[restaurant="KENNEDY FRIED CHICKEN"],
.item[restaurant="BLUESTONE"],
.item[restaurant="POPEYES"],
.item[restaurant="Laudree Soho"],
.item[restaurant="Ihop"] {
  background-color: floralwhite;
}

#restaurant_filter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.restaurant-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

.restaurant-card h1 {
  color: darkred;
  margin-bottom: 10px;
}

.restaurant-card h3 {
  margin: 5px 0;
}


/* Center the cards within the container */
.dashboard-grid{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allow cards to wrap if needed */
}

.card {
  width: 350px; /* Adjust the width as needed */
  height: auto; /* Let the height adjust based on content */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px; /* Adjust padding as needed */
  text-align: center;
  overflow: hidden; /* Prevent content overflow */
}

.card h2,
.card h3,
.card p {
  margin: 5px;
  word-wrap: break-word; /* Allow text wrapping */
}

section {
  opacity: 0;
  transition: opacity 0.5s ease;
}

section.visible {
  opacity: 1;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  /* Hide the filters on mobile */

  
  #borough, #restaurant {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  /* Adjust styles for the card container on mobile */
  #dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 10px;
  }

  /* Style the individual cards on mobile */
  .item {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease;
  }

  /* Style the hover effect on mobile */
  .item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  /* Style the violations info on mobile */
  .violations-info {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
  }
}
