h1 {
	text-align: center;
	color:orangered;
	font-family:'Poppins', sans-serif;;
}

img{
	max-width:100%;
	max-height:100%;


}

.parent-images{
	display:flex;
 	 flex-wrap:wrap;
 	 flex-direction: row;
 	 max-width:100%;
 	 margin-left:150px;
 	 margin-right:150px;

}
.column{
	padding: 5px;
  flex:1;
}

.row{
	display:flex;
	/*margin-left:150px;
  	margin-right:150px;*/
/*  	padding: 0 4px;*/
}


.row2{
	display:flex;
	/*margin-left:150px;
  	margin-right:150px;*/
 
}

.row3{
	display:flex;
	/*margin-left:150px;
  	margin-right:150px;*/
  	

}


.parent-images{
	display:table;
}

@media (max-width:396px) {
.parent-images{
	width:100%;
	height:auto;
	margin-left:96px;
	margin-right:96px;
	display:table;

}

}


/*END OF CODE*/

/*Notes Section:*/
/*
CSS -
Display:table;
Margin: 0 auto;
*/

/* -- this function useful when using links
h1:hover; 
color:yellow;
cursor:pointer;
*/
  