body {
    background-color: whitesmoke;
    font-family: 'Nunito Sans', sans-serif;
    /* height:200vh; */
}


#headshot{
    max-width: 200px;
    display:flex;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    object-fit: cover;
    border: 3px solid #ff6347;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: steelblue solid;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    max-width: 850px;
    margin: 1em auto; 
} 

.contact_button {
    padding: 20px;
    max-width: 850px;
    margin: 1em auto; 
} 


#description{
    display: flex;
    flex:1;
}
a{
    text-decoration: none;
    color: steelblue;
}

#name{
    font-size:1.85em;
    color:#007acc;
    font-weight: bold;
    margin-bottom: 0px;
}

#title{
    font-size:1.25em;
    color:#007acc;
    font-weight: bold;
    margin-top: 0px;
}


.contact_button {
    all: unset;
    padding: 10px;
    background-color: #007acc;
    color: white;
    border-radius: 6px;
    font-weight: 60;
    cursor: pointer;
    transition: background 0.2s ease;
}

.contact_button:hover {
    background-color: #005fa3;
    color:orange;
    font-weight: bold;
  }
  
header{
    text-align:center;
}

header, nav, footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding-top:20px;
    padding-bottom:20px;

}
nav{
    position:fixed;
    margin-top:-35px;
}


.home_button, .github_button, .project_button, .bluesky_button, .dropbtn, .linkedIn_button {
    color: black; 
    margin: 0px 10px; 
    transition: background-color 0.23s ease; 
    background-color: rgba(255, 255, 255, 0.0);
    align-content:center;
    width: fit-content;
    min-height: 40px;
    padding: 10px 16px;
    border:none;
    font-size:16px;
}

.home_button:hover, .github_button:hover, .project_button:hover, .bluesky_button:hover,   .dropbtn:hover, .linkedIn_button:hover {
    color: #ff6347; 
    transform: scale(1.1); 
    cursor: pointer;
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80%;
    left: 425px; 
}
  

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    width:150px;
    text-decoration: none;
    display: block;
  }

  .show {display:block;}
  
/* bounce animation */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

