body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    margin: 0 auto;
}
main{
    display:flex;
    flex-direction: column;
}
#cdButton{
    border:none;
    background: none;
    font-size: 16px;
    width:inherit;
    color:black;
    margin-bottom: -36px;
    cursor:pointer;
}
#btn-img{
    width: 16px; 
    margin-top:-15px; 
     padding-top:0px;
}

#buttons, form{
    display: flex;
    flex-direction: column;
    
    max-width: 100%;
}

#buttons h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:center; 
    font-size: 23px;
    margin-bottom:0;
}

label p {
    margin-bottom: 0;
}



header h5{
    text-align:center;
}
header img{
    width: 16px;  
    vertical-align: middle; 
    margin-left: 5px
}

footer{
    border-top: solid purple;
    opacity: 90%;
    text-align:center;
}

footer img{
    width: 22px;
    vertical-align: middle; 
    margin-left: 5px
}



article#intro_Grafs{
    max-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    padding-top:10px; 
    padding-bottom:10px; 
    background-color: lightgray;
    align-items: center;
    margin: 0 auto;
    width:60%;
    margin-top:20px;
    margin-bottom:50px;
}

#intro_Grafs h2{
    display:flex;
    width:inherit;
    justify-content: center;
    text-align: center; 
    font-size: 19px; 
    border-bottom: solid blue
}

#intro_Grafs p{
    display:flex;
    align-items: center;
    align-content:center;
    width:80%;
    justify-content: center;
    margin: 5px 34px 5px 34px;
    flex-direction: column;
}

#intro_Grafs img{
    width: 130px; 
    vertical-align: middle;
}

 #header h1  {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
 }

 #flex-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:950px;
    max-width: 100%;
 
 }
.current_reps, .current_reps h1{
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  width: 1100px;
  padding-top:10px;
  height:auto;
}


input{
    caret-color:cornflowerblue;
}

.faded-input:focus {
    color: black;
}
.faded-input {
    color: gray;
    text-align: center;
}
nav{
    display:flex;
    text-decoration: none;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 0;
    padding-bottom:20px;
   
}

.btn-icon{
    border:none;
    display: flex;
    margin-top:-13px;
    margin-left:102px;
    align-self: center; 
    cursor: pointer; 
    height: 12px;
}

#cd-Input{
    border:none;
    font-size: 12px;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-half, .second-half, .final-half, .last-rep{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px 10px 10px;
    /* width: inherit; */
    max-width: 100%;
    margin: 0 auto;
    justify-items: center;
    align-items: stretch;
}


li{ 
    width: 130px;
    height:100px;
    /* I styled the 'li' element with absolute width and height values, 
    because some of the 'cards' were uneven. 
    These absolute values may need to be be revisited,
    once more information is added to the cards.*/
}
  
  .first-half li, .second-half li,  .final-half li, .last-rep li {
    text-decoration: none;
    list-style:none;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    border-bottom: solid darkred;
    border-top: solid darkblue;
  }
  
  .first-half li:hover, .second-half li:hover, .final-half li:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
  }
  
.first-half img,  .second-half img, .final-half img {
    width: 30%; 
    height: auto;
    background:transparent;
    background-color: aliceblue;
    border-radius: 50%;
}

  .first-half p,  .second-half p, .final-half p, .last-rep p{
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }

/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */
/* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW *//* MEDIA QUERIES BELOW */


@media screen and (max-width:430px) and (orientation:portrait) {

    body {
        max-width: 100%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    li{  /* consider re-styling this (the cards on mobile screens) */
        overflow-y: auto;
    }

    .btn-icon{
        border:none;
        font-size: 12px;
        color:black;
        display: flex;
        flex-direction: column;  
        margin-top: -14px;
        margin-left: 91px;
        margin-top: -17px;
        margin-left: 102px;
        justify-content: center;
        align-self: center; 
        font-weight: bold; 
        cursor: pointer; 
        height: 16px;
    }
    #data-input{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 auto;
        width: 415px;
        margin-left: -35px;
    }
#btn-img{
    width: 16px;
    margin-top: -18px;
    margin-left: 183px;
    }

 #find-cd{
    width: 200px;
    margin-top: -6px;
    margin-left: 52px;
}
#cd-Input{
    width: 139px;
    font-size: 14px;
    margin-left: -46px;
}
label p {
    margin-left: -12px;
    margin-bottom: 3px;
}

#cdBtn{
margin-left:-11px;
}

 #intro_Grafs{
    display:flex;
    flex-direction: column;
    justify-content:center;
    margin: 0 auto;
    padding-top:40px;
    padding-bottom:40px;
    align-items: center;
    align-content: center;
}

#intro_Grafs p{
    padding-top:30px;
    justify-content:center;
    margin: 0 auto;
    width:375px;
}
h1, h2, h3, h4, h5{
    align-content: center;
    padding-bottom:10px;
    padding-top:10px;
    text-align: center;
    width:325px;
    margin: 0 auto;
}

.first-half, .second-half, .final-half {
    grid-template-columns: auto auto;
    width:450px;
}

.current_reps:hover, .first-half li:hover, .second-half li:hover, .final-half li:hover {
    box-shadow: none;
    transform: none;
  }
}

